### 부산광역시 해충지수 평균 + 방제취약지수
----

In [2]:
import pandas as pd

In [25]:
df = pd.read_csv('result/부산_8월_동별_최종.csv')
df.head()

,통합동,구,평균기온,최고기온,최저기온,강수량,습도,수변부,주거지부,공원부,공원개수,공간유형,가로수개수
0,가덕도동,강서구,27.6118,32.3226,24.5484,556.6129,84.6371,148.4496,56.6548,38.1382,2,주거지부,2
1,가락동,강서구,28.1639,33.2903,24.9677,548.6774,83.9462,150.7779,57.4240,41.0330,0,수변부,0
2,가야동,부산진구,27.1467,32.0000,24.3226,537.0323,82.4274,147.1960,55.4578,38.0709,3,주거지부,7
3,감만동,남구,26.9797,30.4194,24.7419,528.5161,90.3885,149.5242,56.6601,37.5213,3,주거지부,7
4,감전동,사상구,28.1855,33.1613,25.1935,544.1290,82.2231,152.0316,57.6399,41.4200,1,수변부,5

In [26]:
df['해충지수'] = round(df['수변부'] + df['공원부'] + df['주거지부'] /3, 4)
df.head()

,통합동,구,평균기온,최고기온,최저기온,강수량,습도,수변부,주거지부,공원부,공원개수,공간유형,가로수개수,해충지수
0,가덕도동,강서구,27.6118,32.3226,24.5484,556.6129,84.6371,148.4496,56.6548,38.1382,2,주거지부,2,205.4727
1,가락동,강서구,28.1639,33.2903,24.9677,548.6774,83.9462,150.7779,57.4240,41.0330,0,수변부,0,210.9522
2,가야동,부산진구,27.1467,32.0000,24.3226,537.0323,82.4274,147.1960,55.4578,38.0709,3,주거지부,7,203.7528
3,감만동,남구,26.9797,30.4194,24.7419,528.5161,90.3885,149.5242,56.6601,37.5213,3,주거지부,7,205.9322
4,감전동,사상구,28.1855,33.1613,25.1935,544.1290,82.2231,152.0316,57.6399,41.4200,1,수변부,5,212.6649

In [27]:
df['방제취약지수'] = round((df['해충지수'] * 0.5) + (df['습도'] * 0.2) + (df['가로수개수'] * 0.5), 4)
df.head()

,통합동,구,평균기온,최고기온,최저기온,강수량,습도,수변부,주거지부,공원부,공원개수,공간유형,가로수개수,해충지수,방제취약지수
0,가덕도동,강서구,27.6118,32.3226,24.5484,556.6129,84.6371,148.4496,56.6548,38.1382,2,주거지부,2,205.4727,120.6638
1,가락동,강서구,28.1639,33.2903,24.9677,548.6774,83.9462,150.7779,57.4240,41.0330,0,수변부,0,210.9522,122.2653
2,가야동,부산진구,27.1467,32.0000,24.3226,537.0323,82.4274,147.1960,55.4578,38.0709,3,주거지부,7,203.7528,121.8619
3,감만동,남구,26.9797,30.4194,24.7419,528.5161,90.3885,149.5242,56.6601,37.5213,3,주거지부,7,205.9322,124.5438
4,감전동,사상구,28.1855,33.1613,25.1935,544.1290,82.2231,152.0316,57.6399,41.4200,1,수변부,5,212.6649,125.2771

In [28]:
df.describe()

,평균기온,최고기온,최저기온,강수량,습도,수변부,주거지부,공원부,공원개수,가로수개수,해충지수,방제취약지수
count,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000
mean,27.367577,31.846114,24.745199,527.853111,82.824576,149.542332,56.368321,39.482378,5.533981,6.145631,207.814148,123.544805
std,0.558525,1.145849,0.597946,22.302611,1.815198,3.319779,0.975573,2.271190,7.282554,6.807447,5.483990,4.685115
min,26.037000,28.774200,23.612900,420.935400,81.279600,143.255800,53.649600,35.809100,0.000000,0.000000,197.131300,115.439000
25%,27.071700,31.354800,24.483900,527.064500,82.223100,148.091500,55.918400,37.565600,1.000000,2.000000,205.015300,120.477300
50%,27.209900,31.838700,24.655900,535.580600,82.348100,149.046600,56.280100,39.277300,3.000000,5.000000,206.491600,122.361900
75%,27.858100,32.860250,24.871000,537.032300,83.275550,150.240600,56.948100,41.150300,7.000000,8.000000,210.823200,125.277100
max,28.505900,33.806500,28.145200,556.612900,90.388500,168.419000,61.191600,48.308200,41.000000,41.000000,237.124400,140.263800

In [29]:
df = df[['통합동', '구', '평균기온', '최고기온', '최저기온', '강수량', '습도', '공원개수', '가로수개수', '공간유형', '주거지부', '공원부', '수변부', '해충지수', '방제취약지수']]
df.head(2)

,통합동,구,평균기온,최고기온,최저기온,강수량,습도,공원개수,가로수개수,공간유형,주거지부,공원부,수변부,해충지수,방제취약지수
0,가덕도동,강서구,27.6118,32.3226,24.5484,556.6129,84.6371,2,2,주거지부,56.6548,38.1382,148.4496,205.4727,120.6638
1,가락동,강서구,28.1639,33.2903,24.9677,548.6774,83.9462,0,0,수변부,57.4240,41.0330,150.7779,210.9522,122.2653

In [42]:
# 총인구 세대수 불러오기 + 병합하기
pop_df = pd.read_csv('result/총인구/동별_총인구_세대수_결과.csv')
pop_df.head()

      구   통합동    총인구    세대수
0   강서구  가덕도동   2416   3904
1   강서구   가락동   1357   2452
2  부산진구   가야동  17377  37099
3    남구   감만동   9544  20321
4   사상구   감전동   7241  14041

In [46]:
pop_df = pop_df[['통합동', '총인구', '세대수']]
pop_df.head()

    통합동    총인구    세대수
0  가덕도동   2416   3904
1   가락동   1357   2452
2   가야동  17377  37099
3   감만동   9544  20321
4   감전동   7241  14041

In [44]:
df = pd.read_csv('result/부산_동별_방제취약지수_최종.csv')
df.head(2)

,통합동,구,평균기온,최고기온,최저기온,강수량,습도,공원개수,가로수개수,공간유형,주거지부,공원부,수변부,해충지수,방제취약지수
0,가덕도동,강서구,27.6118,32.3226,24.5484,556.6129,84.6371,2,2,주거지부,56.6548,38.1382,148.4496,205.4727,120.6638
1,가락동,강서구,28.1639,33.2903,24.9677,548.6774,83.9462,0,0,수변부,57.4240,41.0330,150.7779,210.9522,122.2653

In [47]:
df = pd.merge(df, pop_df)
df.head(2)

,통합동,구,평균기온,최고기온,최저기온,강수량,습도,공원개수,가로수개수,공간유형,주거지부,공원부,수변부,해충지수,방제취약지수,총인구,세대수
0,가덕도동,강서구,27.6118,32.3226,24.5484,556.6129,84.6371,2,2,주거지부,56.6548,38.1382,148.4496,205.4727,120.6638,2416,3904
1,가락동,강서구,28.1639,33.2903,24.9677,548.6774,83.9462,0,0,수변부,57.4240,41.0330,150.7779,210.9522,122.2653,1357,2452

In [48]:
df = df[['통합동', '구', '총인구', '세대수', '평균기온', '최고기온', '최저기온', '강수량', '습도', '공원개수', '가로수개수', '공간유형', '주거지부', '공원부', '수변부', '해충지수', '방제취약지수']]
df.head(2)

,통합동,구,총인구,세대수,평균기온,최고기온,최저기온,강수량,습도,공원개수,가로수개수,공간유형,주거지부,공원부,수변부,해충지수,방제취약지수
0,가덕도동,강서구,2416,3904,27.6118,32.3226,24.5484,556.6129,84.6371,2,2,주거지부,56.6548,38.1382,148.4496,205.4727,120.6638
1,가락동,강서구,1357,2452,28.1639,33.2903,24.9677,548.6774,83.9462,0,0,수변부,57.4240,41.0330,150.7779,210.9522,122.2653

In [56]:
df.to_csv('result/부산_동별_방제취약지수_최종.csv', index=False)

In [57]:
df.to_csv('result/부산_동별_방제취약지수_최종_euckr.csv', encoding='euc-kr', index=False)

### 인구수 넣고 다시
---

In [53]:
df.head(2)

,통합동,구,총인구,세대수,평균기온,최고기온,최저기온,강수량,습도,공원개수,가로수개수,공간유형,주거지부,공원부,수변부,해충지수,방제취약지수
0,가덕도동,강서구,2416,3904,27.6118,32.3226,24.5484,556.6129,84.6371,2,2,주거지부,56.6548,38.1382,148.4496,205.4727,120.6638
1,가락동,강서구,1357,2452,28.1639,33.2903,24.9677,548.6774,83.9462,0,0,수변부,57.4240,41.0330,150.7779,210.9522,122.2653

In [58]:
df['방제취약지수2'] = round((df['총인구'] * 0.2 + df['해충지수'] * 0.6 + df['가로수개수'] * 0.1 + df['습도'] * 0.1)/4, 4)
df.head()

,통합동,구,총인구,세대수,평균기온,최고기온,최저기온,강수량,습도,공원개수,가로수개수,공간유형,주거지부,공원부,수변부,해충지수,방제취약지수,방제취약지수2
0,가덕도동,강서구,2416,3904,27.6118,32.3226,24.5484,556.6129,84.6371,2,2,주거지부,56.6548,38.1382,148.4496,205.4727,120.6638,153.7868
1,가락동,강서구,1357,2452,28.1639,33.2903,24.9677,548.6774,83.9462,0,0,수변부,57.4240,41.0330,150.7779,210.9522,122.2653,101.5915
2,가야동,부산진구,17377,37099,27.1467,32.0000,24.3226,537.0323,82.4274,3,7,주거지부,55.4578,38.0709,147.1960,203.7528,121.8619,901.6486
3,감만동,남구,9544,20321,26.9797,30.4194,24.7419,528.5161,90.3885,3,7,주거지부,56.6601,37.5213,149.5242,205.9322,124.5438,510.5245
4,감전동,사상구,7241,14041,28.1855,33.1613,25.1935,544.1290,82.2231,1,5,수변부,57.6399,41.4200,152.0316,212.6649,125.2771,396.1303