### 부산광역시 모기지수 (해충지수)
### 동별 파일 만들기 (일기준)
----

In [1]:
import pandas as pd
import os

In [30]:
# 경로 변경
# os.chdir('result/6월')
os.chdir('../8월')

In [31]:
# 파일 리스트 가져오기
pest = list(os.listdir(os.getcwd()))
print(len(pest), pest[0])

202 9월_가덕도동_모기지수.csv

In [32]:
# 1일 기준으로 동별 행 concat 하기
merged_df = pd.DataFrame()
for i in pest:
    df = pd.read_csv(i)
    day = df.loc[0]
    merged_df = merged_df.append(day)
merged_df.reset_index(drop=True, inplace=True)
merged_df.to_csv('../9월_모기지수_1일기준.csv', encoding='utf-8', index=False)

In [33]:
# 저장한 파일 가져오기
result = pd.read_csv('../9월_모기지수_1일기준.csv')
result.head()

     강수량     공원부    동이름      수변부    일    주거지부   최고기온  최저기온       평균기온
0  382.0  79.157   가덕도동  173.165  1.0 -22.006  100.0  29.0  26.635135
1  394.0  79.484    가락동  178.717  1.0 -20.672  100.0  30.0  27.033784
2  382.0  77.111  가야제1동  167.613  1.0 -24.086  100.0  28.0  26.013514
3  382.0  77.111  가야제2동  167.613  1.0 -24.086  100.0  28.0  26.013514
4  396.0  77.631  감만제1동  162.061  1.0 -22.390  100.0  27.0  26.520270

In [34]:
# 중복 동 묶기
# 일단 앞에 두글자 따와서
dongs = list()
for dong in result['동이름']:
    if(dong[:1] == '좌' or dong[:1] == '우' or dong[:1] == '중' or dong[:1] == '서'):
        if(dong[:2] == '서대'):
            dongs.append('서대신동')
        elif(dong[:2] == '중앙'):
            dongs.append('중앙동')
        elif(dong[:2] == '우암'):
            dongs.append('우암동')
        elif(dong[:2] == '좌천'):
            dongs.append('좌천동')
        else:
            dongs.append(dong[:1]+'동')
    else:
        if(dong[:3] == '금사회'):
            dongs.append('금사동')
        elif(dong[:2] == '기장'):
            dongs.append('기장읍')
        elif(dong[:2] == '가덕'):
            dongs.append("가덕도동")
        elif(dong[:2] == '청룡'):
            dongs.append("청룡노포동")
        elif(dong[:2] == '남부'):
            dongs.append('남부민동')
        elif(dong[:2] == '철마'):
            dongs.append('철마면')
        elif(dong[:2] == '정관'):
            dongs.append('정관읍')
        elif(dong[:2] == '장안'):
            dongs.append('장안읍')
        elif(dong[:2] == '선두'):
            dongs.append('선두구동')
        elif(dong[:2] == '일광'):
            dongs.append('일광면')
        elif(dong[:2] == '남부'):
            dongs.append('남부민동')
        elif(dong[:2] == '동대'):
            dongs.append('동대신동')
        else:
            dongs.append(dong[:2]+'동')
# print(dongs)
result['통합동'] = dongs
result.head()

     강수량     공원부    동이름      수변부    일    주거지부   최고기온  최저기온       평균기온   통합동
0  382.0  79.157   가덕도동  173.165  1.0 -22.006  100.0  29.0  26.635135  가덕도동
1  394.0  79.484    가락동  178.717  1.0 -20.672  100.0  30.0  27.033784   가락동
2  382.0  77.111  가야제1동  167.613  1.0 -24.086  100.0  28.0  26.013514   가야동
3  382.0  77.111  가야제2동  167.613  1.0 -24.086  100.0  28.0  26.013514   가야동
4  396.0  77.631  감만제1동  162.061  1.0 -22.390  100.0  27.0  26.520270   감만동

In [35]:
# 그룹핑
result_g = result.groupby(result['통합동'], as_index=False).mean()
result_g

      통합동     강수량      공원부      수변부    일    주거지부   최고기온  최저기온       평균기온
0    가덕도동   382.0   79.157  173.165  1.0 -22.006  100.0  29.0  26.635135
1     가락동   394.0   79.484  178.717  1.0 -20.672  100.0  30.0  27.033784
2     가야동   382.0   77.111  167.613  1.0 -24.086  100.0  28.0  26.013514
3     감만동   396.0   77.631  162.061  1.0 -22.390  100.0  27.0  26.520270
4     감전동   396.0   79.454  178.717  1.0 -20.536  100.0  30.0  27.074324
..    ...     ...      ...      ...  ...     ...    ...   ...        ...
97    초읍동  3440.0 -194.449  128.749  1.0  70.456   26.0  21.0  29.631579
98    초장동  3440.0 -196.181  128.749  1.0  68.695   26.0  21.0  29.105263
99    충무동  3440.0 -196.181  128.749  1.0  68.695   26.0  21.0  29.105263
100   하단동  3390.0 -190.695  125.973  1.0  70.104   26.0  20.5  29.526316
101   화명동  3340.0 -183.479  123.197  1.0  73.274   26.0  20.0  30.473684

[102 rows x 9 columns]

In [36]:
# 최종 파일 저장
result_g.to_csv('../9월_모기지수_1일기준_최종.csv', index=False)